.arrow {
  filter: invert(1);
}

.projectDetail {
  display: flex;
  flex-direction: column;
  line-height: 25.2px !important;
  padding-top: 0 !important;
}

.proyectTitle {
  font-size: 18px;
}

.projectCharge {
  font-size: 16px;
}

.projectYear {
  font-size: 12px;
}

.projectsBar {
  width: 65%;
  height: 1px;
  background-color: black;
  margin: 32px 0;
}

.projectsBar {
  height: 1px;
  background-color: #000000;
  margin-bottom: 40px;
}

.behanceLink {
  display: flex;
  border: 2px solid #000;
  border-radius: 100px;
  padding: 10px 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  line-height: 32px; /* 160% */
  text-transform: uppercase;
  font-family: "RocGrotesk-bold";
  color: #000;
  text-decoration: none;
}

.projectInfo h1 {
  font-family: "RocGrotesk-bold";
  font-size: 40px;
  line-height: 110%;
  margin-bottom: 24px;
}

.projectInfoBox {
  font-family: "Azeret Mono";
  font-size: 18px;
  line-height: 32px;
  width: 32%;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.title {
  display: flex;
  align-items: center;
  font-family: "RocGrotesk-bold";
  font-size: 20px;
  line-height: 32px;
  gap: 10px;
}

.title p {
  margin-top: 7px;
}

.projectPicInfo {
  display: flex;
  justify-content: space-evenly;
  display: flex;
  gap: 57px;
  justify-content: center;
}

.sync {
  margin: 110px 0px;
  font-family: "Azeret Mono";
}

.projectInfoBar {
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 24px 0;
}

.projectPic1 {
  width: 27%;
}
.headBar {
  background-color: #000;
  width: 70%;
  height: 1px;
  margin: 0 auto 38px auto;
  position: relative;
}

.headBar::after {
  content: "2023";
  color: #000;
  position: absolute;
  top: -24px;
  right: 12px;
}

.steps {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-transform: uppercase;
  font-family: "RocGrotesk-bold";
  margin: 75px auto;
  width: 73%;
}

.step1,
.step2 {
  margin-left: 101px;
  display: flex;
  align-items: flex-start;
  gap: 92px;
  justify-content: flex-start;
}

.steps h2 {
  font-size: 19px;
  margin-top: 4px;
}
.step1 {
  margin-bottom: 75px;
}

.steps p {
  font-size: 25px;
  font-family: "RocGrotesk-regular";
}

.steps p span {
  font-family: Arial, Helvetica, sans-serif;
}

.designSystem {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 26px;
  width: 73%;
  margin: 0 auto;
}

.marquee {
  margin-top: 80px;
}

.nextProject {
  border-radius: 24px;
  border: 2px solid #000;
  width: 73%;
  margin: 80px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 35px 59px;
}

.nextProjectImg img {
  width: 486px;
  height: 415px;
}
