.footer {
  background-color: black;
  color: #fff;
  padding: 44px 0px;
  margin: 0 auto;
  font-family: "Century Gothic";
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
